<aside class="left-sidebar">
    <h1 class="sidebar-nav__name">
        Staff Task Board
    </h1>
    <nav class="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-nav__item"  title="Nhập thêm thuốc">
                <a href="/staff/add-product" class="sidebar-task__link">
                    <i class="fa fa-plus-square"></i>
                    <span>Nhập thêm thuốc</span>
                </a>
            </li>
            <li class="sidebar-nav__item" title="Quản lý kho thuốc">
                <a href="/staff/product" class="sidebar-task__link">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    <span>Quản lý thuốc</span>
                </a>
            </li>
            <li class="sidebar-nav__item" title="Quản lý đơn hàng">
                <a href="./bill.html" class="sidebar-task__link">
                    <i class="fa fa-wpforms"></i>
                    <span>Quản lý đơn hàng</span>
                </a>
            </li>
            <li class="sidebar-nav__item dropdown" title="Lập báo cáo">
                <a href="" class="sidebar-task__link" id="dropdownMenuButton" data-toggle="dropdown">
                    <i class="fa fa-clipboard"></i>
                    <span>Lập báo cáo</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="./daily_report.html">Lập báo cáo ngày</a>
                    <a class="dropdown-item" href="./goods_import_report.html">Lập báo cáo nhập hàng</a>
                    <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                </div>
            </li>
        </ul>
    </nav>
</aside>