<aside class="left-sidebar">
    <h1 class="sidebar-nav__name">
        Staff Task Board
    </h1>
    <nav class="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-nav__item"  title="Nhập thêm thuốc">
                <a href="/product/add" class="sidebar-task__link">
                    <i class="fa fa-plus-square"></i>
                    <span>Nhập thêm thuốc</span>
                </a>
            </li>
            <li class="sidebar-nav__item" title="Quản lý kho thuốc">
                <a href="/product/product-management" class="sidebar-task__link">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    <span>Quản lý thuốc</span>
                </a>
            </li>
            <li class="sidebar-nav__item" title="Quản lý đơn hàng">
                <a href="/order" class="sidebar-task__link">
                    <i class="fa fa-wpforms"></i>
                    <span>Quản lý đơn hàng</span>
                </a>
            </li>
            <li class="sidebar-nav__item dropdown" title="Lập báo cáo">
                <a class="sidebar-task__link" id="dropdownMenuButton" data-toggle="dropdown" href="report">
                    <i class="fa fa-clipboard"></i>
                    <span>Lập báo cáo</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/staff/make-import-report">Lập báo cáo nhập hàng</a>
                    <a class="dropdown-item" href="/staff/my-report">Báo cáo của tôi</a>
                    <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                </div>
            </li>
        </ul>
    </nav>
</aside>