<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 not found</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/stylesheets/css/error_page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
<body>
    <div class="error_body">
        <div class="error_body_content">
            <i class="fa fa-frown-o fa-5x" aria-hidden="true"></i>
            <h1 class="error_code">404</h1>
            <h2 class="error_message">page not found!</h2>
            <div class="error_description mb-4">The link you requested may not exist or some other error occured.</div>
            <div class="button-container mt-4">
                <a href="/" class="btn btn-primary">Quay lại trang chủ</a>
            </div>
        </div>
    </div>
</body>
</html>