<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacity</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/stylesheets/css/base.css">
    <link rel="stylesheet" href="/static/stylesheets/css/style.css">
    <link rel="stylesheet" href="/static/stylesheets/css/login.css">
    <link rel="stylesheet" href="/static/stylesheets/css/responsive.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/logo.png">
</head>
<body>
    <div class="login-form-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-2">
                    <img src="/static/img/login-img.svg" alt="login-right-img" class="img-fluid">
                </div>
                <div class="col-md-6" id="login-form">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb4 login-form__header">
                                <h3>LOGIN TO</h3>
                                <strong>Pharmacy Management</strong>
                            </div>
                            <div class="form-group mt-4">
                                {{#if errors}}
                                    {{#each errors}}
                                    <div class="alert alert-danger my-alert" role="alert">
                                        {{this}}    
                                    </div>
                                    {{/each}}
                                {{/if}}
                            </div>
                            <form method="POST" id="login-form__content">
                                <div class="form-group first">
                                    <label for="Username" style="color:transparent;">Username</label>
                                    <input type="text   " class="form-control login-form__input" id="Username" name="username" placeholder="Username" required>
                                </div>
                                <div class="form-group last mb-4">
                                    <label for="password" style="color:transparent;">Password</label>
                                    <input type="password" class="form-control login-form__input" id="password" name="password" placeholder="Password" required>
                                </div>
                                <div class="form-group">
                                    <label class="submit-checkbox">Remember me
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span id="forgot-password" class="ml-auto">
                                        <a href="" class="">Forgot Password</a>
                                    </span>
                                </div>
                                <button type="submit" class="btn btn-lg btn-block" id="submit-login__btn">Log In</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>