body{
    height: 100%
}
.main{
    background-color: tan;
    padding: 30px;
    width: 100%;
    height: 50%;
    vertical-align: middle;
    text-align: center;
}
h1{
    font-family: 'Questrial', sans-serif;
    font-size: 15vw;
    text-shadow: 2px 5px #d3d3d3;
}
h2{
    text-transform: uppercase;
    font-size: 5vw;
}
.wrap div{
    font-size: 3vw;
}
/*404 ra giữa màn hình*/