/* Create in main content */

.main-content {
    background-color: white;
}




#create-product-form input, #product-description, option, #product-brand {
    font-size: 1.6rem;
}


#create-btn {
    padding: 8px 24px 8px 24px;
    font-size: 1.6rem;
}


#create-product-form .input-group {
    margin-bottom: 24px;
    width: 30%;
}