.dynamic-field__heading {
    padding: 12px;
    background-color: #f8f9fa;
}

.dynamic-field__heading h1 {
    font-weight: 700;
}

.dynamic-item {
    background-color: #f8f9fa;
}

.col-md-2-5 {
    flex: 0 0 20%;
    max-width: 20%;
}

.btn_round {
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin-left: 10px;
    border: 1px solid #ccc;
}

.copy_btn,
.trash_btn {
    display: inline-block;
}

.copy_btn:hover .btn_round,
.trash_btn:hover .btn_round {
    color:#fff;
    background: #6b4acc;
    border: 1px solid #6b4acc;
}



