#add-staff__btn,
.cancel-btn,
.save-btn {
    font-size: 1.6rem;
}

#add-staff__modal {
    font-size: 1.6rem
}

#add-staff__modal .modal-title,
button.close {
    font-size: 2.4rem;
    color: white;
}

.modal-header {
    background-color: #55a2de;
}

#add-staff__modal button.close:hover {
    color: white;
}


#add-staff__form .form-label,
#add-staff__form input,
#add-staff__form select {
    font-size: 1.6rem;
}

/* List staff */

/* #list-staff {
    font-size: 1.6rem;
}

.update-staff {
    margin-right: 12px;
}

.delete-staff {
    color: red;
} */

.staff-information {
    font-weight: 800;
}

.staff-information span {
    font-weight: initial;
}

.card-name-field {
    font-size: 2.4rem;
}

.card-age-field,
.card-gender-field,
.card-phone-field,
.card-email-field,
.card-address-field {
    font-size: 1.6rem;
}

.update-staff,
.delete-staff {
    font-size: 1.6rem;
}